@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.header a, .card-text, .card-button {
    color: #e5e7eb;
    font-size: 18px;
}
.header ul {
    display: flex;
    gap: 12px;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 16px 10%;
}
.nav li {
    color: #e5e7eb;
    font-size: 24px;
}
.hero {
    display: flex;
    padding: 32px 10%;
    flex: 1;
    gap: 10%;
}
.hero-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}
.card-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.card-button {
    width: fit-content;
    background-color: #3882f6;
    padding: 16px 24px;
    border-radius: 8px;
}
.hero-img {
    flex: 1;
}
.hero-img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 32px;
}
.info-content {
    display: flex;
    gap: 16px;
}
.info-content div {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    color: #1F2937;
    text-align: center;
    gap: 8px;
    align-items: center;
}
.info-content img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}
.quote-area {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 10%;
}
.quote {
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
}
.author {
    font-size: 32px;
    align-self: flex-end;
}
.signup {
    display: flex;
    padding: 12%;
}
.call {
    background-color: #3882f6;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 32px 80px;
    color: #f9faf8;
}
.call-title {
    font-size: 24px;
    font-weight: bold;
}
.call-button {
    padding: 16px 24px;
    border: 2px solid #f9faf8;
    border-radius: 16px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px;
}